* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 24vh;
    margin: 0 auto;
}

#calculator-container {
    background-color: #000000;
    padding: 1vh;
}

#initialValue{
    padding: 1vh;
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    padding: 2vh;
    border-radius: 10px;
    font-weight: bold;
    border-style: none;
}

button:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #ed0b0b;
    outline: 1px solid #fff;
    background-image: linear-gradient(to top, #10e2e2, #dfdddd);
}

#display-container {
    border-radius: 10px;
    text-align: right;
    color: #f4f4f4;
}

#allButton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    padding-bottom: 1vh;
}

#clear {
    background-color: #d9d6d6;
    width: 20vh;
}

.operators,
#equals {
    background-color: #f6bc51;
    color: #fff;
}

.numbers,
#decimalPoint {
    color: #fff;
    background-color: #9d9a9a;
}


